[submodule "maci-backend/MassExecution"]
	path = maci-backend/MassExecution
	url = https://github.com/AlexanderFroemmgen/maci
	branch = master
[submodule "maci_data/ExperimentTemplates/SimpleCoreExample"]
	path = maci_data/ExperimentTemplates/SimpleCoreExample
	url = git@github.com:umr-ds/maci-core-example.git
